# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
server
9707d641-b47b-4a2f-9a08-2331f7f9858f_Export-dc61bd5a-79fd-4fe5-8bd6-b07a5e4ead7c.zip



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
